exportPattern("^[[:alpha:]]+")
export("%~%")
export("%in%")
export("match")
export("lapply")

import("methods")
importFrom("stats" , "runif")  # used in rdis()
importFrom("digest" , "sha1")


S3method("summary",disord)
S3method("print",summary.disord)

importClassesFrom(Matrix,index)
